<ion-header>
    <ion-toolbar color="srrrry">
        <ion-title>รายชื่อโรงพยาบาล</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="search">
        <ion-toolbar>
            <ion-searchbar animated="true" color="light" placeholder="search"></ion-searchbar>
        </ion-toolbar>
    </div>
    <ion-list>
        <ion-list-header>
            <ion-label></ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>โรงพยาบาลค่ายอิงคยุทธบริหาร</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลธัญญารักษ์ปัตตานี</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลปัตตานี</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลสมเด็จพระยุพราชสายบุรี จังหวัดปัตตานี</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลมายอ</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลแม่ลาน</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลไม้แก่น</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลยะรัง จังหวัดปัตตานี</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลยะหริ่ง</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>โรงพยาบาลหนองจิก</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
