<ion-tabs>
    <div class="menu1">
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="appointment">
                    <ion-icon name="business-sharp"></ion-icon>
                    <ion-label>นัดหมายล่วงหน้า</ion-label>
                </ion-tab-button>
        <ion-tab-button tab="postpone">
            <ion-icon name="alarm"></ion-icon>
            <ion-label>เลื่อนนัด/ยกเลิก</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="history">
            <ion-icon name="receipt"></ion-icon>
            <ion-label>ประวัติการนัด</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacts">
            <ion-icon name="id-card"></ion-icon>
            <ion-label>รายชื่อโรงพยาบาล</ion-label>
        </ion-tab-button>
        </ion-tab-bar>
    </div>
</ion-tabs>
