.content {
    padding: 10px;
}

.welcome {
    font-size: 24px;
    margin-bottom: 20px;
}

.fullname {
    padding-left: 50px;
    margin-bottom: 20px;
}

.menu {
    padding: 0px;
    font-size: 25px;
}

.menu-item {
    display: block;
    background-color: rgb(233, 14, 215);
    text-align: center;
    text-decoration: none;
    color: #fcf9f9;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    font-size: 50px;
}

// .menu {
//     font-size: 50px;
// }

.button {
    padding-left: 4px;
    padding-right: 4px;
}

.menu1 {
    font-size: 50px;
    background-color: rgb(233, 14, 215);
}
