.time {
    padding: 40px;
    font-size: 25px;
}

.symptom {
    padding: 40px;
    font-size: 30px;
    margin-bottom: 10px;
}

.confirm {
    padding: 60px;
    font-size: 30px;
    margin-bottom: 40px;
}

.time1 {
    padding: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}
